{% extends 'blog/base.html' %}
{% load static %}

<script type="text/javascript" src="{% static 'blog/js/layer.js' %}"></script>

{% block main %}
    <div style="margin-left: 10px">
      <form class="form_horizontal" action="." method="post">
           {% csrf_token %}
          <div class="row" style="margin-top: 10px;">
              <div class="col-md-2 text-right"><span>标题</span></div>
              <div class="col-md-10 text-left">{{ aritcle_post_form.title }}</div>
          </div>

          <div class="row" style="margin-top: 10px;">
              <div class="col-md-2 text-right"><span>分类</span></div>
              <div class="col-md-10 text-left">
                  <select id="which_column">
                      {% for column in article_coloumns %}
                          <option value="{{ column.name }}">{{ column.name }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>

          <div class="row" style="margin-top: 10px;">
              <div class="col-md-2 text-right"><span>标签</span></div>
              <div class="col-md-10 text-left">
                  {% for tag in article_tags %}
                      <label class="checkbox-inline">
                      <input class="tagcheckbox" type="checkbox" id="{{ tag.id }}" name="article_tag" value="{{ tag.name }}" />
                       {{ tag.name }}
                      </label>
                      {% empty %}
                      <p>You have not type tags for article. Please <a href="{% url 'blog:article_post' %}">input your tags</a> </p>
                  {% endfor %}
              </div>
          </div>

          <div class="row" style="margin-top: 10px;">
              <div class="col-md-2 text-right"><span>内容</span></div>
              <textarea class="col-md-10 text-left" id="id_body"></textarea>
          </div>

          <div class="row">
              <input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()">
          </div>

      </form>

    </div>

    <script type="text/javascript">
         function publish_article() {
             var title=$('#id_title').val()
             var column_name=$('#which_column').val()
             var body=$('#id_body').val()
             $.ajax({
                 url:"{% url 'blog:article_post' %}",
                 type:'POST',
                 data:{'title':title,'body':body,'category':"Test",'tag':'Test','author':'1','create_time':'2018/04/22 21:27',
                 'modified_time':'2018/04/22 21:27','views':0},
                 success:function (e) {
                     if(e=="1"){
                         layer.msg("successful");
                     }else if (e=='2'){
                         layer.msg('sorry');
                     }else{
                         layer.msg('项目名称必须写，不能为空。');
                     }
                 },
             });
         }
    </script>


{% endblock main %}

